

<section>
  <h2><%= @sub.title %></h2>

  <h3>Description</h3>

  <%= @sub.description %>

  <br/><br/>

  <%= link_to "Make New Post!", new_post_url, method: :get %>

  <h3>Posts</h3>
  <% if @posts %>
  <ul>
    <% @posts.each do |post| %>
      <li> <%= link_to "#{post.title}", post_url(post.id), method: :get %></li>
    <% end %>
  </ul>
  <% end %>
</section>

<%= link_to "Edit Sub", edit_sub_url(@sub.id), method: :get %>
<br/>
<%= link_to "Back to Subs List", subs_url, method: :get %>
