<% action_url = @post.persisted? ? post_url : posts_url %>
<% form_method = @post.persisted? ? :PATCH : :POST %>


<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label>
    Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br/>
  <label>
    URL:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br/><br/>
  <label>
    Content:
    <textarea name="post[content]" ><%= @post.content %></textarea>
  </label>
  <br/>

  <% if @subs %>
    <input type="hidden" name="post[sub_ids][]" value="">
    <% @subs.each do |sub| %>
    <label>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" <%= "checked" if @post.sub_ids.include?(sub.id) %> >
      <%= sub.title %><br/>
    </label>
    <% end %>
  <% end %>

  <input type="submit">

</form>
